recursive-include docs *
prune docs/_build/doctrees

recursive-include examples *.py
recursive-include examples *.sh
recursive-include test *.py

include setup.py
include README
include MANIFEST.in
include CHANGELOG

global-exclude .DS_Store
